#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.GSN:hover {
  filter: drop-shadow(0 0 2em #61fba9aa);
}
.logo.ETH:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.DAI:hover {
  filter: drop-shadow(0 0 2em #f6fb61aa);
}

.title {
  font-size: 120px;
  margin: 0 auto;
  background: linear-gradient(90deg, #D3CCE3 0%, #F2B1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  margin: 10px auto;
}

.action_buttons {
  max-width: 90%;
  margin: 50px auto;
  justify-content: space-evenly;
}

.action_buttons label {
  font-weight: 600;
}

.action_button {
  margin: 0px 20px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.form {
  background-color: #0e0e0e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 43px -22px #FC72FF;
}

.form h2 {
  font-size: 36px;
  margin: 0 auto;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 17px;
  margin: 10px auto;
}

.form input {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.form button {
  background-color: #e265e4;
  color: white;
  margin-top: 5px;
}

.capture {
  background-color: #181818;
  padding: 40px;
  border-radius: 20px;
}

.capture button {
  background-color: yellow;
  color: black;
  margin-top: 10px;
}

.beware {
  color: yellow;
  margin: 5px auto;
}